*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.parent{
    width: 300px;
    height: 300px;
    /*border:3px solid black; */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.box{
    height: 100%;
    width: 100%;
    border:1px solid red

}
.emoji{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    align-items: center;

}